.menuContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.menuItem {
  flex: 1;
  text-align: center;
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
}
.active {
  color: black;
  font-weight: bold;
  /* text-decoration: none;
  border-bottom: 5px solid black; */
  padding-bottom: 15px;
}
.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  /* width: calc(100% - 200px);  */
  width: calc(30%);
  height: 5px; /* 下划线的厚度 */
  background-color: black;
  transform: translateX(-50%); /* 使下划线居中 */
}

.verticalMenu {
  width: 120px;
  text-align: center;
  display: none;
}

@media (max-width: 700px) {
  .menuItem {
    font-size: 13px;
  }
}
