.logo,.subLogo{
    height: 150px;
    width: 150px;
}
.logo{
    margin: 20px 0 0 20px;
}
.title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.paragraph{
    text-align: center;
    font-size: 25px;
}

.containerStyle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}
.containerStyle > div {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.footLine{
    /* position: fixed; */
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    /* bottom: 50px;
    width: 100%; */
}