.container{
    display: flex;
    justify-content: center;
    max-height:75vh;
    
}

.downloadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 30%;
    margin-left: 5px;
}

.imgPdfStyle{
    max-width: 100%;    
    max-height: 100%; 
    height: 20%;
    width: auto;
}

.btnStyle{
    padding: 20px;
    font-size: 30px;
    margin:20px;
    border-radius: 80px;
    border: none;
    width: 50%;
    color: white;
    background-color: black;
    cursor: pointer;
}