.coverLetterContainer {
    width: 33%; /* Adjust as needed */
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(73, 72, 72, 0.3);
    max-height: 100%;
  }
  .coverLetterContent{
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left,#e0cda7,#b3a884);
    padding: 5px 5px;
    overflow: auto;
  }

  
  .coverLetterHeader {
    text-align: left;
    margin-bottom: 0px;
  }
  
  .coverLetterHeader h1 {
    margin: 0;
    font-size: 1.5em;
  }
  .coverLetterHeader p {
    margin: 5px 0;
    font-size: 1em;
  }
  .coverLetterContact p {
    margin: 2px 0;
    font-size: 1em;
  }
  
  .coverLetterBody {
    text-align: left;
    margin-top: 10px;
    font-size: 0.8em;
  }

  .coverLetterBody p{
    margin: 5px 0
  }
  
  .coverLetterFooter {
    all: unset;
    text-align: center;
  }
  
  .coverLetterFooter button {
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 10px 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  