.coverLetterContainer {
    width: 40%; /* Adjust as needed */
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(73, 72, 72, 0.3);
    max-height: 100%;
  }
  .coverLetterContent{
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #e8cc68, #d57d3a);
    padding: 5px 100px;
  }

  .coverLetterPage{
    font-family: Arial, sans-serif;

  }
  
  .coverLetterHeader {
    text-align: left;
    margin-bottom: 0px;
  }
  
  .coverLetterHeader h1 {
    margin: 0;
    font-size: 1.5em;
  }
  .coverLetterHeader p {
    margin: 5px 0;
    font-size: 1em;
  }
  .coverLetterContact p {
    margin: 2px 0;
    font-size: 1em;
  }
  
  .coverLetterBody {
    text-align: left;
    margin-top: 10px;
    font-size: 0.8em;
  }

  .coverLetterBody p{
    margin: 5px 0
  }
  
  .coverLetterFooter {
    text-align: center;
    margin-top: 30px;
  }
  
  .coverLetterFooter button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  