.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 0;
  /* background-color: antiquewhite; */
}

.logo,
.subLogo {
  height: 100px;
  width: 100px;
}
.logo {
  margin: 20px 0 0 20px;
  cursor: pointer;
}
