.navbarContainer {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo,
.subLogo {
  height: 100px;
  width: 100px;
}
.logo {
  margin: 20px 0 0 20px;
  cursor: pointer;
}
