/* CircleNumber.module.css */

.circleContainer {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.dark {
  background-color: #9e9e9e; /* 深灰色 */
}

.currentChoose {
  background-color: #000; /* 深灰色 */
}

.light {
  background-color: #e5e5e5; /* 浅灰色 */
}

.cycleContainer {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  overflow: visible;
}

.title {
  width: auto; /* 根据内容自动调整宽度 */
  font-size: 10px;
  color: #767676;
  white-space: nowrap; /* 防止文本换行 */
  overflow: visible; /* 允许文本溢出 */
  text-align: center; /* 文本水平居中 */
}

.lineContainer {
  width: 100%; /* 根据需要调整 */
  display: flex;
  align-items: center;
}
.line,
.lineAfter {
  width: 100%;
  height: 5px; /* 横线的厚度 */
  position: absolute;
  top: 25%;
  z-index: -1;
}

/* 根据实际布局调整线条的位置，例如： */
.line {
  background-color: rgb(215, 215, 215); /* 横线的颜色 */
}

.lineAfter {
  background-color: #9e9e9e; /* 横线的颜色 */
}
