.container {
  display: flex;
  justify-content: center;
  max-height: 75vh;
}

.downloadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 30%;
  margin-left: 5px;
}

.imgPdfStyle {
  max-width: 100%;
  max-height: 100%;
  height: 35%;
  width: auto;
}

.btnStyle {
  padding: 15px;
  font-size: 30px;
  margin: 20px;
  border-radius: 80px;
  border: none;
  width: 50%;
  color: white;
  background-color: black;
  cursor: pointer;
}

.pageContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  /* 20240610 lily check调整后样式时 发现生成页模板图片变大了 在自适应的窄屏幕时覆盖了文字,因此增大的间距*/
  gap: 40px;
}

.previewContainer {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* 生成按钮区域 */
.operationContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .pageContainer {
    flex-direction: column;
    margin: 20px 50px;
  }
  .previewContainer {
    width: 100%;
  }
  .operationContainer {
    width: 100%;
  }
}
