/* Define root variables */
:root {
  --padding: 20px;
}

/* Main container styling */
.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.actionContainer {
  overflow: scroll;
  min-width: 200px;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}

.actionContent {
  width: 90%;
  height: 10px;
}

/* Styling for the resume container */
.resumeContainer {
  min-width: 550px;
  aspect-ratio: 21 / 29.7;
  background-color: rgb(201, 201, 214);
  padding: calc(var(--padding) * 2);
  display: flex;
  flex-direction: column;
}
/* Styling for the resume display area */
.resumeShow {
  aspect-ratio: 21 / 29.7;
  background-color: rgb(255, 255, 255);
  padding: var(--padding);
  display: flex;

  font-size: 0.6rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end; /* 将子元素右对齐 */
  margin-top: 5px;
}

/* Styling for the resume itself for print in one page*/
.resume {
  aspect-ratio: 21 / 26;
}

/* Media query for print styling */
@media print {
  body * {
    visibility: hidden;
  }

  .resume,
  .resume * {
    width: 98%;
    visibility: visible;
    font-size: 1.97vw;
  }
  .resume {
    position: absolute;
    left: var(--padding);
    top: 0;
  }
}
