.container{
    background-image: url('/src/assets/images/resume_coming_soon.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.container img {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }