:root {
  --input-container-width: 15rem;
}
.container {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
p {
  font-weight: lighter;
  color: #555;
  margin-top: -10px;
}

h4 {
  margin: 0;
}

.groupGridInfo {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--input-container-width), 1fr)
  );
  gap: 20px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputField {
  width: 100%; /* Input field takes up full width of its container */
  padding: 10px;
  border: 1px solid #ccc;
}

.error {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 4px;
}

button[type='submit'] {
  background-color: #222;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 80px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

button[type='submit']:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .field-pair-row {
    flex-direction: column;
  }
}
