/* ActSection.module.css */

:root {
  --input-container-width: 15rem;
}

.actSectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.sectionGroup {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px 20px;
}

/* section标题: 整个一行的样式 */
.sectionNameGrop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* section标题:+ edit icon */
.sectionNameContainer {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

/* section除标题外，内容group样式 */
.sectionGroupContent {
  padding: 0 10px 10px 10px;
  border-radius: 10px;
}

.inputGridContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--input-container-width), 1fr)
  );
  gap: 20px;
  margin-bottom: 5px;
}

.label {
  margin: 0 0 10px 0;
  font-weight: normal;
}

.collapsePanel {
  margin-bottom: 10px;
}
