/* QRCodeComponent.module.css */

.qrPageContainer {
  background: linear-gradient(
    135deg,
    #666 25%,
    #000 50%,
    #666 75%,
    #000 100%
  ); /* Create a gradient background */
  background-size: 400% 400%; /* Increase the background size for smoother animation */
  animation: gradientAnimation 10s ease infinite; /* Apply the animation */
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.qrcodeContainer {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  max-width: 18rem; /* 修改最大宽度为18rem以与HTML样式保持一致 */
  padding: 1rem;
  margin-bottom: 1rem;
}

.qrcodeWrapper {
  position: relative;
  text-align: center;
  padding: 20px;
}

.qrcodeTitle {
  font-size: 1.375rem; /* 将字体大小改为rem单位以适应不同屏幕尺寸 */
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  text-align: center;
  margin-top: 10px;
}

/* 调整按钮样式 */
.button {
  background-color: hsl(0, 0%, 40%); /* 修改按钮背景色为灰色 */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(0, 0%, 30%); /* 修改鼠标悬停时按钮背景色 */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start position of the gradient */
  }
  100% {
    background-position: 100% 50%; /* End position of the gradient */
  }
}
