.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
}

.componentStyle{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}


.textStyle{
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding: 10px;
}

.selectorStyle{
    width: 300px;
    border-color: black;
    height: 30px;
    border-radius: 10px;
}