/* Global Styles */
body {
  font-family: 'Spline Sans', sans-serif;
  /* min-height: 100vh; */
  line-height: 1.3;
  /* color: #333; */
}

.login-form-button {
  color: white;
  background-color: black;
  margin: 0 10px 0 0;
  height: 45px;
  width: 130px;
  font-size: 20px;
  cursor: pointer;
}
.login-form-button:hover {
  background-color: #d9d9d9;
}
.ant-input-affix-wrapper {
  height: 50px;
  font-size: 16px;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
  .ant-checkbox-checked:not(.ant-checkbox-disabled)
  .ant-checkbox-inner {
  background-color: black; /* 修改选中时的背景颜色 */
  border-color: transparent; /* 修改选中时的边框颜色 */
}

:where(.css-dev-only-do-not-override-pr0fja).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: black;
  border-color: black;
}
/* .ant-form-item-control-input-content{
display: flex;
align-items: center;
justify-content: center;
} */

:where(.css-dev-only-do-not-override-pr0fja).ant-form label {
  font-size: 20px;
}

.login-form-forgot,
.login-form-register {
  text-decoration: underline; /* 添加下划线 */
  color: black;
  font-size: 20px;
}

:where(.css-dev-only-do-not-override-pr0fja) a:hover {
  color: gray;
}

.titleBox {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  margin: 0 0 40px 0;
  /* align-items: center; */
}
.largeText {
  font-size: 60px; /* 这里可以调整字体大小 */
  margin: 10px 0;
  font-weight: bold;
}
.smallSubText,
.smallText {
  font-size: 20px;
}
.smallText {
  color: darkgray;
}
