.containerStyle {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px 0 0 0; 
    padding: 20px;
    width: 95%;
    height: 90%; 
    position: absolute; 
    top: 10%; /* 距离上边 10% */
    left: 5%; /* 距离左边 10% */
    display: flex;          /* 使用flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
 }

 .backgroundLayer {
    background-image: url('/src/assets/images/Login_Page.PNG');
    background-size: cover;
    position: fixed;          /* 固定定位，使背景覆盖整个屏幕 */
    top: 0;                   /* 从顶部开始 */
    left: 0;                  /* 从左边开始 */
    right: 0;                 /* 延伸到右边 */
    bottom: 0;                /* 延伸到底部 */
    z-index: -1;              /* 保证背景位于内容下面 */
  }

  .formStyle{
    padding: 10px;
    width: 25%;
    height: 60%;
    }




    